body {
  margin: 0;
}

nav {
  position: fixed;
  color: white;
  background-color: var(--color1);
  width: 100vw;
  height: var(--headerHeight);
  z-index: 99;
}

nav > a > img {
  border-radius: 50%;
  height: var(--headerHeight);
  width: var(--headerHeight);
  display: inline-block;
  float: left;
}

#nav {
  display: inline-block;
  list-style-type: none;
  height: var(--headerHeight);
  padding: 0;
  margin: 0;
  width: calc(100vw - var(--headerHeight));
  float: right;
}

#nav > li {
  float: left;
  height: 100%;
  width: calc((100% - 0.2vw * var(--amountOfTabs)) / var(--amountOfTabs));
  border-left: 0.1vw solid var(--color2);
  border-right: 0.1vw solid var(--color2);
}

#nav > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: calc((2.5vw + 3vh) / 2);
  width: 100%;
  height: 100%;
  left: 50%;
  padding-top: calc((2.5vw + 3vh) / 2);
  transform: translate(-50%, 0);
}

#nav > li > a:focus {
  outline: none;
}
#nav > li:hover {
  background-color: #222;
}

.active {
  border-bottom: 0.5vh solid #4CAF50;
  border-radius: 0 0 0.25vh 0.25vh;
}
