:root {
  --headerHeight: 10vh;
}
body {
  margin: 0;
}

div {
  font-size: 100vh;
}
nav {
  position: fixed;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #333;
  width: 100vw;
  height: var(--headerHeight);
}

nav > img {
  border-radius: 50%;
  height: var(--headerHeight);
  width: var(--headerHeight);
  display: inline-block;
  padding: 0;
  margin: 0;
  float: left;
}


#headContainer {
  display: inline-block;
  list-style-type: none;
  height: var(--headerHeight);
  width: calc(99% - var(--headerHeight));
  padding: 0;
  margin: 0;
  margin-left: 1.5vh;
}

#headContainer > li > h1 {
  display: inline-block;
  height: calc(var(--headerHeight) / 2);
  font-size: calc(var(--headerHeight) / 2.5);
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  letter-spacing: 1vh;
  word-spacing: 2vh;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: calc(var(--headerHeight) / 2);
}

#nav > li {
  float: left;
}

#nav > li > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav > li > a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
