nav {
  color: white;
  background-color: #333;
}

nav img {
  border-radius: 50%;
}

nav a {
  background-color: #555;
  color: white;
  border: 1px solid #aaa;
  color: inherit;
}

nav a:hover {
  background-color: #777;
}

nav a:hover {
  background-color: #888;
  border: 1px solid #ddd;
}
