:root {
  --amountOfTabs: 4;
  --headerHeight: 10vh;
  --main_containerOffset: 10vh;
  --main_containerWidth: 80vw;
  --footerHeight: 10vh;

/* COLOR VALUES */
  --color1: #292929;
  --color2: #333;
  --color3: #222;
  --color4: #111;
  --color5: #4CAF50;

  --textColor: white;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: var(--color4);
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#webgl_demo {
    position: relative;
    width: 70%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0.5vh solid var(--color3);
}
#canvas_container {
  width: 100%;
  border-bottom: 0.25vh solid var(--color3);
}
#webgl_desc {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5vh;
}

#main_container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  top: calc(var(--headerHeight) + var(--main_containerOffset));
  left: 50%;
  width: var(--main_containerWidth);
  min-height: calc(100vh - var(--headerHeight));
  transform: translate(-50%, 0);
  background-color: var(--color1);
  word-break: keep-all;
  border-radius: 5vh;
  margin-bottom: var(--footerHeight);
  color: var(--textColor);
}

#main_container p {
  padding: 0 calc(1vh + 1vw) 0 calc(1vh + 1vw);
}

#main_container h1 {
  position: relative;
  display: inline-block;
  left: 50%;
  margin: 1vh;
  transform: translate(-50%, 0);
  font-size: 4vw;
}

#main_container a {
  color: var(--color5);
}
